### 1 . Create a Pandas series containing data and print it

In [1]:
## importing pandas
import pandas as pd

## Given data 
## create series with 4,8,15,18,23,42
data = [4,8,15,18,23,42]

## using series( ) function to create series
ser = pd.Series(data)

## printing the series 
print(ser)

## checking the type 
type(ser)

0     4
1     8
2    15
3    18
4    23
5    42
dtype: int64

pandas.core.series.Series

### 2 . Create a Variable of list containing 10 elements, apply pandas.Series and print it.

In [8]:
## creating a variable with 10 elements
lst = [1,2,3,4,5,6,7,8,9,10]

## checking type of variable
print(f"Type of Variable is : {type(lst)}")

## converting the variable into series
print("The series of list :")
ser1 = pd.Series(lst)

## printing the series
print(ser1)

Type of Variable is : <class 'list'>
The series of list :
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### 3 . Create a DataFrame using data and print the DataFrame

In [21]:
## creating the dataframe from data
data1 = {'Name':['Alice','Bod','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}

## converting it into a dataframe
df = pd.DataFrame(data1)

## printing the dataframe
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bod   30    Male
2  Claire   27  Female

### 4 . what is a "DataFrame" in pandas and how is it different from "Series" ? Explain with an example

##### DataFrame :
- Pandas DataFrame is a two-dimensinal size mutable, potentially heterogeneous tabular data structure with labeled axes(rows and columns). A DataFrame is a two-diemnsional data structure.. i.e data is aligned in a tabular fashion in rows and columns. 

##### How is it different from Series :
- A series only has one data column, whereas a single-column DataFrame contains both a data column and an index. The labels for the data are contained in th index, which is a second column.

In [23]:
## Example to show difference
## this is a Dataframe
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bod   30    Male
2  Claire   27  Female

In [24]:
## type of df
type(df)

pandas.core.frame.DataFrame

In [25]:
## this is series 
df['Name']

0     Alice
1       Bod
2    Claire
Name: Name, dtype: object

In [26]:
## type of series
type(df['Name'])

pandas.core.series.Series

### 5 . What are some common function we use to manipulate data with an example.

##### funtions which are commonly used are 
1. head()
2. tail()
3. df.coiumns
4. df.dtypes
5. df.read_csv
6. df.to_csv

In [32]:
## example of using the functions above
## data type function
df.dtypes

Name      object
Age        int64
Gender    object
dtype: object

In [30]:
## columns function
df.columns

Index(['Name', 'Age', 'Gender'], dtype='object')

In [34]:
## to csv funtion
df.to_csv('Assignment_csv')

### 5 . Which of the following is mutable in nature Series,DataFrame,Panel ?

##### Series :
- It is one-dimensional array, it is only value-mutable not size mutable.
- Homogenous data

##### DataFrame :
- It is Two dimensiona array, DataFrame is mutable and te values inside it can be modifies,deleted,replaced.it is also "size mutable". 
- Heterogenous data

##### Panel :
- the panel is three dimensional data. its very hard to represent the panel in a graphical representation. panel data and "Size are mutable"
- Heterogeneous data

### 6 . Create a DataFrame using multiple series. Explain with an example.

In [2]:
## creating dataframe using series
## creating mutiple series
name = ['Madhan', 'sudh','krish' ]
age = [ 24,35,37]
job = ['Student', 'Data scientist','Mentor']

## using pandas to make it into a series
name_ser = pd.Series(name)
age_ser = pd.Series(age)
job_ser = pd.Series(job)

## creating a dictionary using series
frame = {'Name': name_ser,
         'Age' : age_ser,
         'Job' : job_ser
        }
## Creating dataframe using the series
df1 = pd.DataFrame(frame)

## priting the dataframe
print(df1)

     Name  Age             Job
0  Madhan   24         Student
1    sudh   35  Data scientist
2   krish   37          Mentor